<div class='header-container'>
    <a routerLink='/' class='logo-container'>
        <i id='logo' class="fas fa-cat"></i>
        <h3 class='title'>CHAT</h3>
    </a>
    <div class='search-container' *ngIf='router.url==="/"'>
        <div class='fit-search-grid'>
            <button class='search-btn'>
                <i class="fal fa-search"></i>
            </button>
        </div>
        <div class='fit-search-grid'>
            <input class='search-bar' placeholder='Search..' type='text' />
        </div>
    </div>
</div>
