<div class='chat-box-container'>
    <form>

        <div class='message-container'>
            <div *ngFor='let message of Messages'>
                <p class='chat-friend' >chat chat chat</p>
                <p class='my-chat'>chat chat chat</p>
            </div>
        </div>

        <div class='chat-container'>
            <input class='chat-input' type="text" name="" id="" placeholder='Send Message..'>
            <button class='chat-btn'><i class="far fa-paper-plane"></i></button>
        </div>
    </form>
</div>
