*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

.component-container{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows:3rem 1fr;
}

.main-container{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows:1fr;
}


app-friends{
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr;
}

app-chat-box{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

app-nav-bar-menu{
    position:fixed;
    top:0;
    left:0;
    z-index: 3;
}

#navBarLogo{
    position: fixed;
    z-index: 4;
    top:0; left:0;
    margin:15px;
    font-weight: bold;
    color:white;
    font-size: 1.5rem;
}
    


@media only screen and (max-width:678px){
    
    .component-container{
        grid-template-rows:6rem 1fr;
    }

    .main-container{
        grid-template-columns: 1fr auto;

    }
}