<i id='logo' (click)='FriendNav()' [ngClass]="isFriendNavOpen ? 'fas fa-arrow-to-left': 'fas fa-arrow-to-right'"></i>
<div class='friends-container' *ngIf='isFriendNavOpen'>
    <div class='margin-top'></div>
    <div class='friend-list'>
        <h3 class='nav-title'>FRIENDS</h3>
        <div class='friends' *ngFor='let friend of Friends'>
            <div class='friend'>Your Friend
                <a routerLink='profile'>
                    <i class="far fa-address-card"></i>
                </a>
                <a>
                    <i class="far fa-comment-alt"></i>
                </a>
            </div>
        </div>
    </div>
</div>